<!DOCTYPE html>
<html>
<body>

<h1>The audio autoplay attribute</h1>

<p>Click on the play button to play a sound:</p>

<!--<script>
  let audio = new Audio('instruction.mp3');
  audio.play();
</script>-->

<audio controls autoplay>
  <source src="instruction.ogg" type="audio/ogg">
  <source src="instruction.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

</body>